
/* ===================== MEDIA QUERIES (TABLETS) ==================== */
@media screen and (max-width: 1024px) {

    /* ====================== NAVBAR ===================== */
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
        margin-right: -9rem; 
    }

    nav button#close-menu-btn {
        display: none;
    }

    .nav__menu {
        position: fixed;
        top: 5rem;
        right: 6%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav__menu li {
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav__menu li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav__menu li:nth-child(3) {
        animation-delay: 400ms;
    }

    .nav__menu li:nth-child(4) {
        animation-delay: 600ms;
    }

    @keyframes animateNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }

        100% {
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }

    .nav__menu li a {
        background: var(--color-primary);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav__menu li a:hover {
        background: var(--color-bg2);
        color: var(--color-white);
    }


    .header__container {
        gap: 0;
        padding-bottom: 3rem;
    }


    .btn-top {
        bottom: 6rem;
    }


    .social-menu ul {
        margin: 11rem -3rem 0px;
    }

    .ab .im {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #po .grad1{
        margin: 0rem 6rem 0 0;
        padding-left: 2rem;
    }


    /* ====================== CATEGORIES ===================== */
    /* .categories {
        height: auto;
    }

    .categories__container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .categories__left {
        margin-right: 0;
    } */

    /* ====================== POPULAR COURSES ===================== */
    .courses {
        margin-top: 0;
    }

    .courses__container {
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
    }

    /* ====================== FAQs ===================== */
    .faqs__container {
        grid-template-columns: 1fr;
        padding: 30px;
    }

    .headingh2  {
        margin-bottom: 2rem;
    }

    .faq {
        padding: 1.5rem;
    }

    /* ====================== FOOTER ===================== */
    .footer__container {
        grid-template-columns: 1fr 1fr;
    }


    .about__achievements {
        margin-top: 2rem;
    }

    .about__achievements-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .about__achievements-left {
        width: 80%;
        margin: 0 auto;
    }


    .achievements__cards {
        justify-content: space-around;
        flex-wrap: nowrap;
        padding: 0;
    }


    /* .team__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team__member {
        padding: 1rem;
    } */

    .nav__menu a.signup {
        margin-left: 78px;
        margin-top: 2.1rem;
    }
}







@media screen and (max-width: 1023px){
    nav button {
        margin-right: -20rem;
    }
    .btn-top {
        bottom: 2rem;
    }
    .social-menu ul {
        margin: 16rem 1rem 0px;
    }
}

@media screen and (max-width: 918px){
    nav button {
        margin-right: -16rem;
    }
}

@media screen and (max-width: 855px){
    nav button {
        margin-right: -9rem;
    }
}

@media screen and (max-width: 768px) {

    .landingpg {
        height: auto;
        padding: 0;
    }

    .btn-top {
        bottom: 3rem;

    }
    #po {
        padding-right: 1rem;
    }

    .social-menu ul {
        margin: 14rem 1rem 0px;
    }

    .achievements__cards {
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 1rem;
    }


    section .ab .im {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav button {
        margin-right: -9rem;
    }


    .heading{
        font-size: 2rem;
    }

    .headingh2  {
        font-size: 2.5rem;
    }

    .grad1 .pge1 {
        font-size: 3.5rem;
    }

    /* section .ab{
        flex-direction: column;
        justify-content: center;
    } */
}



@media screen and (max-width: 759px){
    #po .grad1{
        margin: 0rem 3rem 0 0;
    }
}
@media screen and (max-width: 639px){
    .imgg img {
        display: none;
    }
    .btn-top {
        bottom: 11rem;
        z-index: 999;
    }
    .social-menu ul {
        margin: 8rem 6rem 0px;
    }
    .header__container{
        padding-bottom: 0;
    }
    #po .grad1{
        margin: 0;
    }
}



@media screen and (max-width: 600px) {

    #about {
        padding: 0;

    }
    .grad1 .pge1 {
        font-size: 3rem;
    }


    section .ab {
        flex-direction: column;
        margin-top :-6rem;
        padding: 0;
    }

    #whatsdata {
        width: 17rem;
        margin: 0;
        padding: 0;
    }

    section .m{
        max-width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content:center;

    }
    /* ====================== CATEGORIES ===================== */
    /* .categories__right {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .category {
        padding: 1rem;
        border-radius: 1rem;
    }

    .category__icon {
        margin-top: 4px;
        display: inline-block;
    } */

    /* ====================== POPULAR COURSES ===================== */
    .courses__container {
        grid-template-columns: 1fr;
    }

    /* ====================== TESTIMONIALS ===================== */
    .testimonial__body {
        padding: 1.2rem;
    }

    /* ====================== FOOTER ===================== */
    .footer__container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;

    }

    .footer__1 p {
        margin: 1rem auto;

    }

    .footer__socials {
        justify-content: center;

    }
}



@media screen and (max-width: 500px) {
    .grad1 .pge1 {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 426px) {


    #matter{
        margin-right: -9rem;
    }
    /* .landingpg{
        margin-right: -9rem;
    }
    section .m{
        margin-right: -9rem;
    }

    .achievement{
        margin-right: -9rem;
    }

    .courses{
        margin-right: -9rem;
    }

    .faqs{
        margin-right: -9rem;
    } */

    .headingh2 {
        margin-bottom: 1rem;
    }
    

    footer{
        margin-right: -9rem;
    }

    .grad1{
        margin-left: 3rem;
        width: 100%;
    }
    .grad1 .pge1 {
        font-size: 3rem;
    }
    .heading {
        font-size: 2rem;
        text-align: center;
    }
    /* section .ab .im {
        justify-content: end;
    } */
    .social-menu ul {
        margin: 8rem 10rem 0px;
    }
    section .m{
        padding: 2rem;
    }

    .achievement {
        padding-top: 0rem;
    }
    #progress,#c,#c2 {
        right:2rem
    }

    #po {
        padding-left: 0rem;
        padding-right: 1rem;
    }

}

@media screen and (max-width: 376px) {
    

    /* section .m{
        margin-right: -9.5rem;
    }

    .achievement{
        margin-right: -9.5rem;
    }

    .courses{
        margin-right: -9.5rem;
    }

    .faqs{
        margin-right: -9.5rem;
    }*/

    footer{
        margin-right: -9rem;
    } 

    .button a span {
        font-size: 23px;
        margin: 0px -4rem 0.2px 0px;
        letter-spacing: 1px;
        font-weight: 300;
    }


    .btn-top {
        bottom: 9rem;
    }

    #progress,#c,#c2 {
        right:2rem
    }

    nav button {
        margin-right: -9rem;
    }

}




@media screen and (max-width: 321px) {
    #matter{
        margin-right: -11rem;
    }

    footer{
        margin-right: -11rem;
    } 

    .btn-top {
        bottom: 12rem;
    }
    #po{
        padding-right: 1rem;
    }

    .button a span{
            font-size: 17px;
            margin: 0px -4rem -1rem 0px;
    }
    .headingh2 {
        font-size: 2rem;
    }
    .heading {
        padding: 0px 1rem;
    }
    

    .contact-bg h2 {
        font-size: 2rem;
    }
}










