@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Raleway&family=Righteous&display=swap');


.cardn {
    position:relative;
    width:100%;
    height:auto;
    
    display:flex;
    flex-direction:column;
    justify-content: space-between
;transition: all 0.4s ease-in-out;
backdrop-filter: blur(40px);
border-radius:15px
}

.cardn .imgbox{
    position:relative;
    width:100%;
    height:200px;
    
    background:url("../images/3.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    
    border-radius:15px
    

}

.cardn .content{
    position:relative;
    width:100%;
    height:300px;
    backdrop-filter: blur(40px);
    border-radius:15px;
    border-top-left-radius:0;
    font-family: 'Raleway', sans-serif;
}
.cardn .content .enrolled{
    position:absolute;
    top:-70px;
    height:70px;
    width:50%;
    background-color: rgba(197, 241, 247, 0.699);
    border-top:2px solid rgba(211, 220, 223, 0.459);
    border-right:2px solid rgba(255, 255, 255, 0.445);
   
  
border-bottom:0px;
    border-top-right-radius:20px;
   
display:flex;
flex-direction:row;
justify-content: center;
align-items:center;
gap:0.2rem

}


.smallcategory{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:0.1rem;
    color:white;
    

}

.cat{
    padding:0.3rem;
   border-radius:20px;
   font-size:small;
    border:3px solid  rgb(100,81,149);background-color:black
}

.buttons{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
   
}

.cardn .button{
    padding:0.5rem;
    margin:0.5rem;
    border-radius:10px ;
    outline:none;border:none;
    ;
    transition: all 0.4s ease-in-out; width:100%
}
.cardn .button:hover{
background-color:rgba(127, 175, 179, 0.404);
border:1px solid rgb(62, 132, 160)
}

.title,.shortdescription{
    padding:0.3rem
}
.shortdescription{
    margin:10px;

}

.title{
    font-family: larger;
    font-weight: bolder;
    text-decoration:underline ;
    margin:0.3rem
   
}

.cardn{
    box-shadow: rgba(49, 48, 48, 0.25) 0px 54px 55px, rgba(77, 74, 74, 0.12) 0px -12px 30px, rgba(53, 50, 50, 0.12) 0px 4px 6px, rgba(209, 201, 201, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius:30px
}



.cardn:hover .imgbox{
    border-bottom-right-radius:0px;
}

.new{
    position:absolute;
    z-index:99;
    color:rgb(236, 230, 230);
    height:5rem;
    width:5rem;
    font-size:1.1rem;
    padding:0.2rem;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

  
    background-color:rgb(163, 212, 90);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
   
}
.duration{
    position:absolute;
    z-index:99;
    color:rgb(219, 204, 204);
    height:3rem;
    width:4rem;
    
    font-size:0.8rem;
    
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    right:0.2rem;
    top:-1.2rem;
  
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
   
}



.fa-user{
    color:black;
    opacity: 1;
    padding:0.2rem;
    font-size:1rem
}

.title{
    background-color:rgb(169, 184, 197);
    color:black;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
