/* Custom CSS to adjust the size of contributor cards */
.mb-6 {
  width: 270px; /* Adjust the value as needed */
  margin: 0.25rem; /* Reduce the margin for spacing */
  padding: 0; /* Remove padding to decrease gaps */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img {
  width: 30px;
}

/* Adjust maximum height of the contributor card container */
.block {
  max-height: 420px; /* Adjust the value as needed */
  overflow: hidden; /* Hide overflowing content */
  margin: 0; /* Remove default margins */
  padding: 2rem; /* Add padding to the content */
}

.logo-img:hover {
  transform: scale(1.4);
  transition: ease-in-out 0.3s;
}

/* Make the contributor image responsive */
.rounded-t-lg img {
  width: 100%;
  height: auto;
}

.contributor-tag {
  display: inline-block;
  padding: 4px 8px;
  background-color: #f59e0b;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 4px;
}
.pa-tag {
  display: inline-block;
  padding: 4px 8px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 4px;
}
/* Scale hover effect for images */
.rounded-t-lg {
  transition: transform 0.3s ease;
}

.rounded-t-lg:hover {
  transform: scale(1.1);
}

/* Additional styling for the parent container */
.contributor-container {
  overflow: hidden;
}
