.container-fluid {
  padding: 5% 15%;
}
body {
  font-family: "Montserrat";
  /* line-height: 1.5; */
  /* text-align: center; */
  /* padding: 5% 15%; */
  background-color: #033660;
}

.container-fluid {
  padding: 5% 15%;
}

.contact-bg {
  margin-top: -7rem;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  /* , url(images/contact-bg.jpg) */
  /* background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; */
  text-align: center;
  /* color: #fff; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-bg h3 {
  font-size: 1.3rem;
  font-weight: 500;
}
.contact-bg h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}

.line div {
  margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  /* background: #f7327a; */
  background-color: skyblue;
  border-radius: 5px;
}
.line {
  display: flex;
  align-items: center;
}
.line div:nth-child(2) {
  width: 10px;
  height: 10px;
  /* background: #f7327a; */
  background-color: skyblue;
  border-radius: 50%;
}
.text {
  font-weight: 300;
  opacity: 0.9;
  color: black;
}
.contact-bg .text {
  margin: 1.6rem 0;
}

.text {
  font-weight: 300;
  opacity: 0.9;
  /* color: black; */
  color: white;
}

.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}
.contact-info {
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
}
.contact-info span {
  display: block;
  color: white;
}
.contact-info div {
  margin: 0.8rem 0;
  padding: 1rem;
  transition: 0.2s all;
}

.contact-info div:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0, 0.2);
  transform: scale(1.05);
}

.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  /* color: #f7327a; */
  color: rgb(100, 203, 245);
}
.contact-info span .fas:hover {
  /* color: #d157c5; */
  color: rgb(108, 174, 200);
  border-color: rgb(100, 203, 245);

  /* border-color: #f7327a; */
}

.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}
.contact-info .text {
  padding-top: 0.4rem;
}
.contact-form {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 2rem 0;
  border-top: 1px solid #c7c7c7;
  flex-wrap: wrap;
}
.contact-form form {
  padding-bottom: 1rem;
  width: 100%;
}
.form-control {
  width: 100%;
  /* border: 1.5px solid #c7c7c7; */
  background-color: var(--color-bg2);
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.6rem 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  outline: 0;
  color: #fff;
}
.form-control::placeholder{
  color: #ffffff52;
}
.form-control:focus {
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.6rem;
}
.send-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background:rgba(33, 186, 247, 0.74);
  /* background: #f7327a; */
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.send-btn:hover {
  /* opacity: 0.8; */
  background:rgb(100, 203, 245);
  /* background: #e383a6e9; */
  color: #fff;
}

iframe {
  justify-content: center;
  margin-left: 9%;
  width: 82%;
  margin-bottom: 24px;
}

.contact-form > div img {
  width: 100%;
}
.contact-form > div {
  margin: 0 auto;
  text-align: center;
}
.contact-footer {
  padding: 2rem 0;
  /* background: #000; */
  /* background: white; */
}
.contact-footer h3 {
  font-size: 1.3rem;
  /* color: #fff; */
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}
.social-links {
  display: flex;
  justify-content: center;
  /* background: white; */
}
.social-links a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  /* color: #fff; */
  color: white;

  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  transition: all 0.4s ease;
}
.social-links a:hover {
  /* color: #f7327a; */
  color: rgb(100, 203, 245);
  /* border-color: #f7327a; */
  border-color: rgb(100, 203, 245);
  transform: translateY(-8px);
}

@media screen and (min-width: 768px) {
  .contact-bg .text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .contact-bg .text {
    width: 50%;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info {
    grid-template-columns: repeat(4, 1fr);
  }
}



/* *{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    background-image: url('../images/contact-bg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.contact{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.contact-main{
    border: 8px solid rgb(70, 83, 202);
    border-radius: 10px;
    background: linear-gradient(rgb(47, 81, 107, 0.8), rgba(40, 62, 100, 0.9));
    height: 50vh;
    width: 30vw;
}

.contact-heading{
    padding: 1em 0;
    color: white;
}

.contact-heading h1{
    display: flex;
    justify-content: center;
    margin: 1vh 0;
}

.contact-heading p{
    display: flex;
    justify-content: center;
}

.contact-sec{
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin: auto;
}

.contact-sec input{
    margin: 1rem;
    padding: 0.5rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(48, 100, 255);
}

.contact-sec input[placeholder]{
    color: white;
    font-weight: 500;
}

.contact-sec button{
    margin: auto;
    width: 8.5vw;
    height: 5vh;
    background: transparent;
    color: white;
    font-weight: 600;
    margin: 1vh auto;
}

.contact-sec button{
    background-color: rgba(45, 45, 219, 0.8);
    
}

@media only screen and (max-width:1200px){
    .contact-main{
        width: 60%;
    }

    .contact-sec{
        width: 100%;
    }

    .contact-sec input{
        height: 3vh;
        width: 70%;
        margin: auto;
    }
    .contact-sec button{
        width: 11vw;
        margin-top: 3vh;
    }

}

@media only screen and (max-width:670px){

    .contact-heading{
        font-size: 0.8em;
    }

    .contact-main{
        width: 60%;
    }

    .contact-sec{
        width: 100%;
    }

    .contact-sec input{
        height: 4vh;
        width: auto;
        margin: auto;
    }
    .contact-sec button{
        width: auto;
        margin-top: 3vh;
    }
} */

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /*--color-primary: #6c63ff;*/
  /*--color-primary:#424890;*/
  --color-primary: #03548664;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  /*--color-danger: #f75842;*/
  --color-define: #ff3c78;
  --color-danger: #ff960b;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  /*--color-bg1: #2e3267;*/
  --color-bg1: #023055;

  --color-bg2: #03548664;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 500ms ease;
}

/* body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-white);
  background: #071f30;
} */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 4rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  border-color: rgb(121, 116, 116);
  background-color: rgba(157, 147, 147, 0.562);
  padding: 1rem 2rem;
  border-top: 1px solid;
  border-right: 1px solid;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-define);
  color: var(--color-white);
  border-radius: 30px;
  transition: all ease 0.5s;
  box-shadow: 0 0 20px 9px hsla(0, 4%, 5%, 0.19);

  border: 1px solid;
  border-top: 3px solid;
  border-right: 3px solid;
  border-color: #761142b1;
}

.button a span {
  position: relative;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 18px 30px;
  letter-spacing: 2px;
  font-weight: 500;
  margin-top: 60px;
}

.button a span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #ff960b;
  z-index: -1;
  transition: all ease 0.5s;
}

.button a span:hover:before {
  width: 100%;
}

.grad a h4 {
  position: relative;
  width: 200px;
  height: 250px;
  background: radial-gradient(610px, #2f85f58c, transparent 40%);
  margin-top: 2px;
}

/* --------navbar------------   */

nav {
  /*background: #071f30;*/
  /*background: transparent;*/
  width: 20vw;
  height: 5rem;
  position: absolute;
  top: 0;
  /* margin-bottom: 5rem; */
  z-index: -11;
  text-transform: uppercase;
  margin-top: 30px;
  background: #071f30;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

nav li {
  margin: -20px;
}

/* change navbar styles on scroll using javascript */
.window-scroll {
  background: #071f30;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.navbar {
  margin-top: 0;
  width: 100% !important;
  background: #071f30;
  font-family: "Montserrat", sans-serif;
  font-weight: 10px;
}

nav {
  background: #071f30;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* margin-left: -200px; */
}

.nav__container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -210px;
}

/* .nav__container a h4 {
    height: -10%;
    display: flex;
    padding-left: 100px;
    margin-top: 10px;
    align-items: center;
    font-size: 16px;
    font-weight: 100;
  } */
.nav__container a h4 {
  height: 100%;
  display: flex;
  padding-left: 300px;
  margin-top: 10px;
  align-items: center;
}
.grad a h4 {
  position: relative;
  width: 600px;
  /* height: 550px; */
  background: radial-gradient(610px, #2f85f58c, transparent 40%);
  margin-top: 2px;
}
.logo {
  max-height: 2;
  max-width: 2;
}

.nav__menu li a {
  font-size: 14px;
  margin-right: 100px;
  display: inline block;
  font-weight: lighter;
}
.nav__container h4 {
  font-weight: 100;
}
nav button {
  display: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 10%;
  position: relative;
  top: 0;
  right: 0;
  margin: -250px;
}

.nav__menu a {
  font-size: 0.1rem;
  transition: var(--transition);
}

.nav__menu li a {
  display: inline-block;
  margin: 10px 20px;
  /* margin-left: -1px; */
}

.nav__menu a:hover {
  color: #ff3c78;
}

.nav__menu a.signup {
  display: inline-block;
  width: 140px;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
  color: aqua;
  border: 2px solid rgba(255, 255, 255, 0.488);
  text-align: center;
  font-size: 0.9rem;
  border-radius: 30px;
  transition: var(--transition);
}

.nav__menu a.signup:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
  box-shadow: 5px 5px 5px orange;
}

.uli {
  position: absolute;
  top: 0;
  right: 0;
}

/* =================== NAVBAR ===================== */
nav {
  background: transparent;
  width: 20vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
  text-transform: uppercase;
  margin-top: 30px;
}

nav li {
  margin: -56px;
}

/* change navbar styles on scroll using javascript */
.window-scroll {
  background: #071f30;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
/* .nav__container a h4 {
  height: 100%;
  display: flex;
  padding-right: 22rem;
  align-items: center;
  margin-top: 10px;
} 

  .nav__container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -210px;

  } */

.nav__container a h4 {
  height: 100%;
  display: flex;
  padding-left: 300px;
  margin-top: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: inherit;
  /* margin-left: -10px; */
  font-stretch: extra-expanded;
  font-family: sans-serif;
}

/*  */
.logo {
  max-height: 2;
  max-width: 2;
}

nav button {
  display: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.nav__menu a {
  font-size: 0.9rem;
  transition: var(--transition);
}

/*.nav__menu a:hover {
    color: #00bf8e;
  }*/

.nav__menu a:hover {
  color: #ff3c78;
}

.nav__menu a.btn {
  display: inline-block;
  width: 140px;
  height: 50px;
  line-height: 20px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0.488);
  text-align: center;
  font-size: 0.9rem;
  border-radius: 30px;
  background-color: transparent;
  transition: var(--transition);
  /* margin-left: -100px; */
}
.nav__menu a.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}
.nav__menu li a {
  margin-inline: -10px;
  margin-left: 15px;
}
.nav__menu a.signup {
  display: inline-block;
  width: 130px;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
  color: aqua;
  border: 2px solid rgba(255, 255, 255, 0.488);
  text-align: center;
  font-size: 0.9rem;
  border-radius: 30px;
  transition: var(--transition);
  /* margin-inline: -50px; */
}

.nav__menu a.signup:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
  box-shadow: 5px 5px 5px orange;
}

/* =================== HEADER ===================== */
/* header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
} */

.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header__left p {
  margin: 1rem 0 2.4rem;
}

.title-font b span {
  /*color: var(--color-danger)*/
  background: linear-gradient(to top right, #6600ff 2%, #ff00ff 60%);
  animation: animate 10s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

/* ===================== MEDIA QUERIES (TABLETS) ==================== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  /* ====================== NAVBAR ===================== */
  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav__menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav__menu li {
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }

  .nav__menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav__menu li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav__menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }

    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  .nav__menu li a {
    background: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .nav__menu li a:hover {
    background: var(--color-bg2);
    color: var(--color-white);
  }
}

/* ======================== MEDIA QUERIES (PHONES) ======================= */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  /* ====================== NAVBAR ===================== */
  .nav__menu {
    right: 3%;
  }

  /* ====================== HEADER ===================== */
  header {
    height: 2vh;
  }

  .header__container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
  }

  .header__left p {
    margin-bottom: 1.3rem;
  }
}
/* Footer */
.footer__container1{
  display: flex;
  align-items: flex-start;
  justify-content:space-around;
  flex-wrap: wrap;
  row-gap: 50px;
  
}
.foot--1{
  text-align: center;
  flex-basis: 250px;
}
.foot--1 h4{
  margin-bottom: 30px;
}