*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    background-image: url('../images/contact-bg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.contact{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.contact-main{
    border: 8px solid rgb(70, 83, 202);
    border-radius: 10px;
    background: linear-gradient(rgb(47, 81, 107, 0.8), rgba(40, 62, 100, 0.9));
    height: 50vh;
    width: 30vw;
}

.contact-heading{
    padding: 1em 0;
    color: white;
}

.contact-heading h1{
    display: flex;
    justify-content: center;
    margin: 1vh 0;
}

.contact-heading p{
    display: flex;
    justify-content: center;
}

.contact-sec{
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin: auto;
}

.contact-sec input{
    margin: 1rem;
    padding: 0.5rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(48, 100, 255);
}

.contact-sec input[placeholder]{
    color: white;
    font-weight: 500;
}

.contact-sec button{
    margin: auto;
    width: 6.5vw;
    height: 4vh;
    background: transparent;
    color: white;
    font-weight: 600;
    margin: 1vh auto;
}

.contact-sec button:hover{
    background-color: rgb(111, 111, 197, 0.8);
    transition: 0.5s ease-in;
}

@media only screen and (max-width:1200px){
    .contact-main{
        width: 60%;
    }

    .contact-sec{
        width: 100%;
    }

    .contact-sec input{
        height: 3vh;
        width: 70%;
        margin: auto;
    }
    .contact-sec button{
        width: 11vw;
        margin-top: 3vh;
    }

}

@media only screen and (max-width:670px){

    .contact-heading{
        font-size: 0.8em;
    }

    .contact-main{
        width: 60%;
    }

    .contact-sec{
        width: 100%;
    }

    .contact-sec input{
        height: 4vh;
        width: auto;
        margin: auto;
    }
    .contact-sec button{
        width: auto;
        margin-top: 3vh;
    }
}